<div>
    <div class="location">
        Location: {{location}}
    </div>
    <div class="location">
        Temperature: {{temperature}}
    </div>
    <div class="location">
        Precipitation Probability: {{precipProbability}}
    </div>
     <div class="location">
        Summary: {{summary}}
    </div>
    <div class="error">
        <span style="color:red">{{error}}</span>
    </div>
</div>